.main-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.project-title{
    margin-bottom: 2%;
}
.project{
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 62%;
    height: fit-content;
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.project-pic{
    width: 25%;
    height: 25%;
}
.project-description{
    width: 100%;
    height: 100%;
}
.project-image{
    display: flex;
    margin-top: 1%;
}
.about-project{
    margin-top: 2%;
}
.likes-views{
    display: flex;
    flex-direction: row;
    gap: 1%;
}
.button{
    border: none;
    padding: 1%;
    font-size: 18px;
    border-radius: 15px;
}