body {
    margin: 0;
    background-color: #191923 !important;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #1F1F1F, #282829);
    ;
}

.header {
    width: 100%;
    position: relative;
    padding: 1%;
    top: 0;
    height: fit-content;
    background: rgba(255, 255, 255, 0.2);
}

.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
}

.header-author {
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    color: white !important;
    align-items: center;
    gap: 1%;
    width: fit-content;
}

.header-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}